body {
	background-color: #b7d1c4;
}

h1{
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

#info {
	font-family: Verdana;
}

div {
	background-color: #40F0FF;
	width: 400px;
	height:200px;
}

#displaySpace {
	color: red;
}