body {
	background-color: #b7d1c4;
}

h1{
	color: #5c5961;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

#displaySpace {
	background-color: #d1c7b7;
	color: #5c5961;
	width: 400px;
	height: 300px;
	overflow: auto;
}

#msgBox {
	width: 400px;
}